body {
  margin: 2em;
  font-family: Arial, Helvetica, sans-serif;
  input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* Application-wide Styles */
  h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
}
.heroes {
  li {
    // Cannot work
  }
}

// https://stackoverflow.com/questions/36220256/angular-cli-sass-options
// pour passer en scss
